// ========================= Font Imports ======================= \\
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,700');

html, body{
   height: auto;
   width: 100%;
   overflow-x: hidden;
}
.wrapper{
   position: absolute;
   top: 0;
   left: 0;
   height: auto;
   width: 100%;
   overflow-x: hidden;
}
.top-head{
   position: relative;
   background: #004582;
   height: 50px;
   color: #FFF;
   padding:13px 0 0 0;
   font-family: 'Open Sans', sans-serif;
   font-weight: 100;
   font-size: 14px;
   z-index: 2 !important;
   @media(max-width:767px){
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999 !important;
   }
   a{
      color: #FFF;
   }
   ul{
      list-style: none;
      padding:0;
      li{
         display: inline-block;
         padding:0 5px 0 0;
         &:after{
            content: "|";
            padding-left: 10px;
         }
         &:last-child{
            &:after{
               content: "";
            }
         }
      }
   }
   .head-addy{
      float: left;
      padding-right: 35px;
   }
   .head-phone{
      float: left;
   }
   h1{
      text-transform: uppercase;
      font-size: 20px;
      margin-top: 0px;
   }
   .open-nav{
      position: absolute;
      right: 10px;
      top: 1px;
      font-size: 32px;
      display: none;
      @media(max-width:767px){
         display: block;
      }
   }
   .close-nav{
      position: absolute;
      right: 10px;
      top: 1px;
      font-size: 32px;
      display: none;
      @media(max-width:767px){
         display: none;
      }
   }
}

.header-bg{
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -763px;
   z-index: -9 !important;
   height: auto;
   width: 1526px;
   display: block;
}
.mid-head{
   position: relative;
   height: auto;
   padding:15px 0;
   background: url(../images/mid-head-bg.png) repeat;
   font-family: 'Open Sans', sans-serif;
   z-index: 3 !important;
   @media(max-width:767px){
      margin-top: 40px;
      background: #0c559f;
   }
   .logo{
      @media(max-width:767px){
         display: block;
         width: 100%;
         img{
            width: 90%;
            display:block;
            margin:0 auto;
            position: relative;
            top: 5px;
         }
      }
   }
   .search{
      padding:20px 15px 0 0;
      .search-field{
         height: 50px;
         width: 65%;
         padding:0 0 0 15px;
         background: #8ab0d4;
         color: #FFF;
         font-size: 20px;
         border:none;
         border-radius: 25px;
      }
      .search-btn{
         position: absolute;
         right: 33px;
         top: 22px;
         background: #006ecf;
         height: 45px;
         width: 45px;
         border-radius: 25px;
         border:none;
         color: #FFF;
         font-size: 24px;
      }
      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
         color:    #FFF;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color:    #FFF;
         opacity:  1;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
         color:    #FFF;
         opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
         color:    #FFF;
      }
   }
}

.lower-head{
   position: relative;
   height: 60px;
   padding:0;
   background: url(../images/lower-head-bg.png) repeat;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   color: #FFF;
   z-index: 10 !important;
   @media(max-width:767px){
      background: #0c559f;
   }
   a{
      color: #FFF;
      letter-spacing: 0.03em;
   }
   ul{
      position: relative;
      left: -25px;
      list-style: none;
      padding:0;
      @media(min-width:768px) and (max-width:991px){
         left: -10px;
      }
      a{
         text-decoration: none;
      }
      li{
         position: relative;
         height: 60px;
         display: inline-block;
         padding:20px 25px 0 25px;
         font-size: 15px;
         @media(min-width:768px) and (max-width:991px){
            font-size: 14px;
            padding: 20px 9px 0 9px;
         }
         &:hover{
            background:#00529b;
            .sub-nav{
               display: block;
            }
         }
         .fa{
            padding-left: 5px;
            font-size: 16px;
         }
         .sub-nav{
            position: absolute;
            width: 225px;
            height: auto;
            top: 60px;
            left: -0;
            list-style: none;
            padding:10px 25px;
            background: url(../images/sub-nav-bg.png) repeat;
            display: none;
            a{
               font-style: 12px;
               text-transform: none;
            }
            li{
               border-bottom: 1px solid #FFF;
               padding:7px 0;
               display: block;
               height: auto;
               &:hover{
                  background: none;
               }
            }
            .last{
               border-bottom: none;
            }
         }
      }
   }
   .search{
      padding:2px 15px 0 15px;
      margin-top: 2px;
      .search-field{
         height: 50px;
         width: 100%;
         padding:0 0 0 15px;
         background: #8ab0d4;
         color: #FFF;
         font-size: 20px;
         border:none;
         border-radius: 25px;
      }
      .search-btn{
         position: absolute;
         right: 18px;
         top: 7px;
         background: #006ecf;
         height: 45px;
         width: 45px;
         border-radius: 25px;
         border:none;
         color: #FFF;
         font-size: 24px;
      }
      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
         color:    #FFF;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color:    #FFF;
         opacity:  1;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
         color:    #FFF;
         opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
         color:    #FFF;
      }
   }
}

.slider-container{
   position: relative;
   top: -182px;
   width: 100%;
   height: auto;
   background: url(../images/slider-bg.png) no-repeat center;
   background-size: cover;
   z-index: 1 !important;
   @media(max-width:767px){
      position: relative;
      top: 0;
      height: auto;
      background: none;
   }
   .carousel{
      position: relative;
      height: auto;
      width: 1480px;
      margin: 0 auto;
      @media(max-width:767px){
         max-width: 100%;
         z-index: 8 !important;
         img{
            max-width: 100%;
            height: auto;
         }
      }
      img{
         width: 100%;
         height: auto;
      }
   }
   .slogan{
      position: absolute;
      height: 150px;
      width: 100%;
      bottom: 0px;
      padding: 40px 0 0 0;
      background: url(../images/slogan-bg.png) center no-repeat;
      background-size: cover;
      @media(max-width:767px){
         position: relative;
         top: -100px;
         height: 250px;
         padding:125px 0 0 0;
         background: url(../images/mobile-hours-bg.png) no-repeat;
         z-index: 10 !important;
         border-bottom: 1px solid #69b9ff;
      }
      h1{
         font-family: 'Lora', serif;
         font-size: 36px;
         color: #FFF;
         @media(min-width:992px) and (max-width:1199px){
            font-size: 24px;
         }
      }
      .slider-addy{
         float:left;
         padding-right: 35px;
         @media(max-width:350px){
            padding-right: 10px;
            margin-left: -10px;
         }
      }
      .slider-hours{
         float:left;
         @media(max-width:350px){
            float: right;
            margin-right: -10px;
         }
      }
      p{
         font-family: 'Open Sans', sans-serif;
         color: #FFF;
         font-style: 16px;
      }
      a{
         color: #FFF;
      }
   }
   .mid-nav{
      position: absolute;
      bottom: -200px;
      height: 200px;
      width: 100%;
      background: url(../images/mid-nav-bg.png);
      overflow: hidden;
      @media(max-width:767px){
         position:relative;
         background: url(../images/mid-nav-bg.png);
         bottom: 100px;
         height: auto;
         width: 100%;
         ul{
            list-style: none;
            padding:10px 0;
            li{
               height: 90px;
               width: 100%;
               border-bottom: 1px solid #69b9ff;
               padding-top: 10px;
            }
            a{
               color: #FFF;
               text-decoration: none;
               font-size: 20px;
            }
            .nav-icon{
               @media(max-width:767px){
                  float: left;
                  padding-right: 25px;
                  width: 75px;
               }
            }
         }
         .last{
            border:none;
         }
         .link{
            position: absolute;
            padding-top: 20px;
         }
      }
      .mid-nav-container{
         margin-top: 40px;
         @media(min-width:768px) and (max-width:991px){
            margin-top: 25px;
         }
         .img-container{
            height: 70px;
            width: auto;
            margin-top: 10px;
            margin-bottom: 15px;
            .nav-icon{
               position: relative;
               padding-bottom: 20px;
               top: 0;
               @media(max-width:767px){
                  float: left;
               }
            }
         }
         .last{
            border-right: none;
            width: 100px;
            padding-left: 75px;
            @media(min-width:992px) and (max-width:1199px){
               width: 50px;
            }
            @media(min-width:768px) and (max-width:991px){
               width: 50px;
               padding-left: 25px;
            }
         }
         .first{
            margin-left: -125px;
            @media(min-width:768px) and (max-width:991px){
               margin-left: -75px;
            }
         }
         ul{
            list-style: none;
            padding:0;
            a{
               color: #FFF;
               text-decoration: none;
               li{
                  width: 250px;
                  height: 115px;
                  display: inline-block;
                  border-right: 1px solid #69b9ff;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 16px;
                  @media(min-width:992px) and (max-width:1199px){
                     width: 200px;
                     font-size: 15px;
                  }
                  @media(min-width:768px) and (max-width:991px){
                     width: 160px;
                     font-size: 14px;
                  }
               }
            }
         }
      }
      .wave-1{
         position: absolute;
         height: 251px;
         width: 102%;
         left: -15px;
         background: url(../images/wave-1.png) no-repeat center;
         background-size: cover;
      }
      .wave-2{
         position: absolute;
         top: -40px;
         height: 157px;
         width: 102%;
         left: -15px;
         background: url(../images/wave-2.png) no-repeat center;
         background-size: cover;
      }
   }
}

.callouts{
   position: relative;
   z-index: 99 !important;
   background: #FFF;
   height: auto;
   @media(max-width:767px){
      top:-100px;
   }
   .callout-container{
      padding:35px 0 45px 0;
      border-bottom: 1px solid #dcdde0;
      .img-container{
         border-bottom: 5px solid #90b800;
      }
      .title{
         font-family: 'Lora', serif;
         font-size: 20px;
         color: #00529b;
         text-align: center;
         padding-top: 15px;
      }
      p{
         font-family: 'Open Sans', sans-serif;
         color:#77787a;
         font-size: 16px;
         text-align: center;
      }
   }
   .partners{
      padding:50px 0 50px 0;
      @media(max-width:767px){
         padding:25px 0 10px 0;
         img{
            padding-top: 50px;
         }
      }
   }
}

.footer{
   padding: 30px 0 40px 0;
   background: #f0f0ec;
   width: 100%;
   .footer-sub{
      list-style: none;
      padding: 0;
      li{
         display: inline-block;
         padding:0 30px 0 0;
         @media(min-width:768px) and (max-width:991px){
            padding:10px 30px 0 0;
         }
         @media(max-width:767px){
            display: block;
            padding: 5px 0 10px 0;
            border-bottom:1px solid #bdbdb9;
         }
      }
      a{
         text-transform: uppercase;
      }
   }
   .footer-sub2{
      list-style: none;
      padding:20px 0 0 0;
      @media(max-width:767px){
         margin-top: -25px;
      }
      li{
         display: inline-block;
         padding: 0 0 0 5px;
         &:after{
            content: "|";
            padding:0 0 0 7px;
         }
         @media(max-width:767px){
            display: block;
            padding: 5px 0 10px 0;
            border-bottom:1px solid #bdbdb9;
            &:after{
               content: "";
               padding:0;
            }
         }
      }
      .last{
         &:after{
            content: "";
            padding:0;
         }
         border-bottom:none;
      }
   }
   .copy{
      padding:30px 0 0 0;
      color: #77787a;
   }
}

// ================================ Sub Page ============================ \\
.subpage{
   position: absolute;
   top: 0;
   left: 0;
   height: auto;
   width: 100%;
   overflow-x: hidden;
   .breadcrum-container{
      height: 50px;
      width: 100%;
      background-color: #69b9ff;
      .breadcrum{
         list-style: none;
         padding:0;
         height: 50px;
         position: relative;
         top: -10px;
         padding-top: 13px;
         z-index: 7 !important;
         margin-left: -10px;
         @media(max-width:767px){
            padding-top: 25px;
         }
         li{
            display: inline-block;
            &:after{
               content: "\f105";
               font-family: FontAwesome;
               position: relative;
               margin-left: 10px;
               padding-right: 5px;
               color: #FFF;
            }
            &:last-child{
               &:after{
                  content: url(../images/crum-bg.png);
                  position: absolute;
                  margin-left: 1px;
                  top: 0px;
                  @media(max-width:767px){
                     top: 10px;
                  }
               }
            }
         }
         a{
            color: #FFF;
         }
      }
   }

   .page-title{
      font-family: 'Lora', serif;
      font-size: 40px;
      color: #77787a;
      padding-bottom: 30px;
   }

   .left-nav{
      max-width: 250px;
      ul{
         list-style: none;
         padding:0;
         li{
            padding:5px 0 5px 0;
            border-bottom: 1px solid #a8aaad;
         }
      }
      a{
         color: #00529b;
         font-family: 'Open Sans', sans-serif;
         text-decoration: none;
      }
      .last{
         border:none;
      }
   }
   .left-nav-container{
      .nav-box{
         padding:5px 20px;
         border:1px solid #a8aaad;
         border-radius: 5px;
         font-size: 30px;
         color: #77787a;
         font-family: 'Open Sans', sans-serif;
         &:after{
            content: '\f0d7';
            font-family: FontAwesome;
            font-size: 40px;
            color: #004582;
            float: right;
            position: relative;
            top: -5px;
         }
      }
      .nav-menu{
         width: 100%;
         padding-left: 25px;
         padding-top: 15px;
         border:1px solid #a8aaad;
         border-top: 2px solid #a8aaad;
         position: relative;
         top: -2px;
         display: none;
         ul{
            list-style: none;
            padding:0;
            li{
               height: 40px;
            }
            a{
               font-size: 24px;
            }
         }
      }
   }
   .btn-container{
      position: relative;
      margin-top: 20px;
      @media(min-width:768px) and (max-width:991px){
         width: 535px;
         margin:0 auto;
      }

   }
   .blue-btn{
      border:none;
      background: #36a1ff;
      color: #FFF;
      padding: 7px 0 7px 55px;
      width: 250px;
      height: 50px;
      margin-top: 10px;
      text-align: left;
      @media(max-width:991px){
         margin-right: 15px;
      }
      @media(min-width:768px) and (max-width:991px){
         margin-top: 40px;
      }

      img{
         height: 30px;
         padding-right: 15px;
         position: absolute;
         left: 10px;
         margin-top: -4px;
      }
      &:active{
         border:none;
      }
      &:visited{
         border:none;
      }
   }
   .content{
      padding: 35px 25px 0 15px;
      p{
         font-family: 'Open Sans', sans-serif;
         font-size: 1.2em;
         color: #3e4147;
         line-height: 1.35em;
      }
      ul{
         margin-top: 25px;
         color: #77787a;
         font-family: 'Open Sans', sans-serif;
         li{
            padding-top: 10px;
         }
         a{
            color: #00529b;
         }
      }
   }
   .sub-partners{
      margin-top: 50px;
      border-top: 1px solid #dcdde0;
      padding: 50px 0;
      img{
         @media(max-width:767px){
            padding: 30px 0 0 50px;
         }
      }
   }
}

// ================================ Doctor Pages ============================ \\
.doc-search-container{
   background: #cfe8ff;
   font-family: 'Open Sans', sans-serif;
   color: #3e4147;
   padding-bottom: 40px;
   .fine-print{
      color: #3e4147;
   }
   p{
      font-size: 15px;
   }
   label{
      text-transform: uppercase;
      color: #77787a;
      font-size: 12px;
   }
   input{
      height: 40px;
   }
   .styled-select{
      &:after{
         content: '\f0d7';
         font-family: FontAwesome;
         font-size: 20px;
         height: 20px;
         width: 20px;
         background: #FFF;
         color: #77787a;
         position: absolute;
         top: 31px;
         right: 20px;
         text-align: center;
         @media(max-width:767px){
            display: none;
         }
      }
      select{
         height: 40px;
      }
   }
   .last-row{
      padding: 15px 0;
      border-bottom: 1px solid #FFF;
   }
   .form-btn{
      background: #1c95ff;
      color: #FFF;
      border-radius: 7px;
      text-align: center;
      text-transform: uppercase;
      border:none;
      height: 40px;
      width: 100%;
      margin-top: 15px;
   }
}

.specialty{
   h3{
      font-family: 'Lora', serif;
      color: #77787a;
      padding-top: 50px;
   }
   p{
      font-family: 'Open Sans', sans-serif;
      color: #3e4147;
      font-style: 15px;
   }
   ul{
      list-style: none;
      padding:0;
      li{
         border-bottom: 1px solid #a8aaad;
         height: auto;
         padding: 7px 0;
      }
      .last{
         border-bottom: none;
      }
   }
}
.doc-search-container{
   padding-bottom: 50px;
   .collapse-btn{
      position: relative;
      width: 90px;
      height: auto;
      margin: 0 auto;
      top: 30px;
      z-index: 9999 !important;
      font-family: 'Open Sans', sans-serif;
      color: #1c95ff;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      .fa{
         font-size: 20px;
      }
      &:hover{
         cursor: pointer;
      }
   }
   .expand-btn{
      position: relative;
      width: 90px;
      height: auto;
      margin: 0 auto;
      top: 30px;
      z-index: 9999 !important;
      font-family: 'Open Sans', sans-serif;
      color: #1c95ff;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      display: none;
      .fa{
         font-size: 20px;
      }
      &:hover{
         cursor: pointer;
      }
   }
}
.search-bio{
   padding-top: 20px;
   font-family: 'Open Sans', sans-serif;
   .row-2{
      margin-top: 40px;
   }
   .doc-title{
      font-size: 20px;
      color: #006ecf;
   }
   .classification{
      font-size: 15px;
      font-weight: 700;
      color: #3e4147;
   }
   .address{
      margin-top: 20px;
      p{
         color: #3e4147;
         font-size: 14px;
         line-height: 10px;
      }
   }
   a{
      text-decoration: none;
   }
}

.doc-bio{
   .section{
      font-family: 'Open Sans', sans-serif;
      padding-top: 25px;
      .section-title{
         text-transform: uppercase;
         font-size: 16px;
         font-weight: 700;
         color: #a8aaad;
         padding-bottom: 5px;
      }
      .section-content{
         color: #3e4147;
         font-size: 18px;
         line-height: 13px;
         @media(max-width:991px){
            line-height: 16px;
         }
         @media(min-width:992px) and (max-width:1199px){
            line-height: 18px;
         }
      }
   }
}

.map-container{
   padding-top: 100px;
   #map{
      margin-top: 25px;
      @media(min-width:1200px){
         height: 500px;
         width: 750px;
      }
      @media(min-width:992px) and (max-width:1199px){
         height: 500px;
         width: 600px;
      }
      @media(min-width:768px) and (max-width:991px){
         height: 500px;
         width: 450px;
      }
      @media(min-width:601px) and (max-width:767px){
         height: 500px;
         width: 575px;
      }
      @media(min-width:414px) and (max-width:600px){
         height: 500px;
         width: 393px;
      }
      @media(min-width:375px) and (max-width:413px){
         height: 500px;
         width: 350px;
      }
      @media(max-width:374px){
         height: 500px;
         width: 310px;
      }
   }
   #directions{
      margin-top: 25px;
      border:1px solid #a8aaad;
      height: 500px;
   }
   #calculate-route{
      padding-bottom: 35px;
      .form-control{
         height: 40px;
      }
   }
   .reg-btn{
      text-transform: uppercase;
      width: 100%;
      @media(max-width:991px){
         margin-top: 10px;
      }
      .fa{
         padding-right: 5px;
      }
   }
   .or{
      font-family: 'Open Sans', sans-serif;
      color: #a8aaad;
      padding-top: 10px;
   }
}

.contact-container{
   p{
      font-family: 'Open Sans', sans-serif;
      color: #3e4147;
      font-style: 15px;
   }
   .contact-address,.hours-container{
      p{
         line-height: 13px;
      }
   }
   .contact-form{
      .form-control{
         margin-bottom: 20px;
      }
   }
}
// ================================ Mobile Nav ============================ \\
.mobile-nav-container{
   position: fixed;
   top: 50px;
   left: 100%;
   width: 100%;
   height: 100%;
   background:#007ce8;
   z-index: 9999 !important;
   ul{
      list-style: none;
      padding:10px 15px;
      li{
         height: 50px;
         padding:10px 0 0 0;
         border-bottom: 1px solid #69b9ff;
      }
      .last{
         border-bottom: none;
      }
   }
   a{
      color: #FFF;
      font-size: 20px;
   }
}

// ================================ Random ============================ \\
.reg-btn{
   border:none;
   background: #36a1ff;
   color: #FFF;
   padding: 7px 20px;
   width: auto;
   height: 40px;
   text-align: center;
}
.divider{
   height: 1px;
   width: 100%;
   background:  #dcdde0;
   margin-bottom: 30px;
}
.fine-print{
   font-family: 'Open Sans', sans-serif;
   font-size: 10px;
}
.sm-print{
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
}
.mobi-pad-bottom{
   @media(max-width:767px){
      padding-bottom: 25px;
   }
}
.up5{
   margin-top: -5px;
}
.up10{
   margin-top: -10px;
}
.up15{
   margin-top: -15px;
}
.up20{
   margin-top: -20px;
}
.up25{
   margin-top: -25px;
}
.up30{
   margin-top: -30px;
}
.up40{
   margin-top: -40px;
}
.up50{
   margin-top: -50px;
}

.down5{
   margin-top: 5px;
}
.down10{
   margin-top: 10px;
}
.down15{
   margin-top: 15px !important;
}
.down25{
   margin-top: 25px !important;
}
.down24{
   margin-top: 24px !important;
}
.pad-top10{
   padding-top: 10px;
}
.pad-top10{
   padding-top: 10px;
}
.left-10{
   margin-left: -10px;
}
.left-15{
   margin-left: -15px;
}
.left-20{
   margin-left: -20px;
}
.invisible{
   visibility: hidden;
}
// ============================= Bootstrap Fixes ========================= \\
.container{
   @media(min-width:1300px){
      width: 1280px;
   }
}